// @import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@font-face {
  font-family: "Chango";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/chango/chango-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/chango/chango-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/chango/chango-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/chango/chango-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/chango/chango-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/chango/chango-v11-latin-regular.svg#Chango") format("svg"); /* Legacy iOS */
}
.Chango {
  font-size: 25px;
  font-family: "Chango", cursive;
}
.slick-prev {
  left: -30px;
}
.slick-next {
  right: -25px;
}
.slick-prev:before {
  color: black;
  font-size: 25px;
}
.slick-next:before {
  color: black;
  font-size: 25px;
}

.arrow_right {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 3px solid #4b5563;
  border-right: 3px solid #4b5563;
  transform: rotate(45deg);
}

.arrow_left {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 3px solid #4b5563;
  border-right: 3px solid #4b5563;
  transform: rotate(226deg);
}

.link:hover > p {
  color: #4b5563;
}

.link:hover > div {
  transition: all 0.3s;
  transform: translate(0.5rem);
}

.img_border div {
  border: rgba(229, 231, 235) 4px solid;
  border-radius: 0.375rem;
}
