@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.Chango {
  font-size: 25px;
  font-family: "Chango", cursive;
}

.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}

.arrow_right {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 3px solid #4b5563;
  border-right: 3px solid #4b5563;
  transform: rotate(45deg);
}

.arrow_left {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 3px solid #4b5563;
  border-right: 3px solid #4b5563;
  transform: rotate(226deg);
}

.link:hover > p {
  color: #4b5563;
}

.link:hover > div {
  transition: all 0.3s;
  transform: translate(0.5rem);
}

.img_border div {
  border: rgba(229, 231, 235) 4px solid;
  border-radius: 0.375rem;
}
